/**
1.body
2.card
3.text
4.image&overlay
5.insights
6.attribution
7.media queries
*/

body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px !important;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: white;
}

.card {
  background-color: hsl(244, 38%, 16%);
  height: 400px;
  width: 1200px;
  margin: 100px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  display: flex;
  border-radius: 10px;
  line-height: 1.6rem;
}

.text {
  width: 50%;
  padding: 40px 120px;
  line-height: 1.6rem;
}

.muted {
  color: hsla(0, 0%, 100%, 0.75);
}
.insights {
  color: hsl(277, 64%, 61%);
}
h1 {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.image {
  background-image: url("../images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  min-width: 50%;
  position: relative;
}
#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.6;
}

/* Bottom stats */
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media queries */
@media (max-width: 768px) {
  .card {
    background-color: hsl(244, 38%, 16%);
    height: auto;
    margin: 30px auto;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    line-height: 0.6rem;
  }
  .image {
    background-image: url("../images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .text {
    width: 100%;
    padding: 0px 5px;
    line-height: 1.6rem;
  }
}
