body {
  background-color: #fff;
  font-size: 16px !important;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
}

.card {
  height: 90vh;
  width: 180vh;
  margin: 10px auto;
  z-index: 3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: row;
}

.col1 {
  background-image: url("../images//bg-pattern-desktop.svg");
  height: 100%;
  min-width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.col2 {
  background-image: url("../images//hero-desktop.jpg");
  height: 100%;
  min-width: 50%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  margin-top: 7%;
  margin-left: 20%;
}

.were{
    font-weight: 300;
    font-size: 54px;
    font-family: "Josefin Sans";
    margin-top: 10%;
    color:hsl(0, 36%, 70%);
}
.coming{
    font-weight: 300;
    font-size: 54px;
    font-weight: 600;
    margin-top: 10%;
    /* color:hsl(0, 36%, 70%);  */
}
.soon{
    font-weight: 300;
    font-size: 54px;
    font-weight: 600;
    margin-top: 2%;
    /* color:hsl(0, 36%, 70%);  */
}
.text{
    color:hsl(0, 36%, 70%) ;
}

.custom-search {
    position: relative;
    width: 300px;
    margin-top: 10%;
  }
  .custom-search-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .custom-search-botton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    width: 60px;
    border: 0;
    background:linear-gradient(hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    color: #fff;
    outline: none;
    margin: 0;
    
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
