@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
* {
  margin: 0;
}
body {
  height: 70vh;
  font-family: "Libre Franklin";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  padding: auto;
}
.logo {
  margin-top: 8px;
  margin-bottom: 15px;
}
.text {
  color: hsl(0, 0%, 59%);
  font-size: 30px;
  font-weight: 300;
}
.soon {
  color: black;

  font-weight: 600;
}
.subscribe {
  text-align: center;
  margin-bottom: 20px;
  color: hsl(0, 0%, 9%);
}
.input {
  padding: 10px 30px;
  border-radius: 40px;
  border: hsl(0, 0%, 59%) solid 1px;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  text-align: center;
  background-color: hsl(223, 87%, 63%);
  cursor: pointer;
}
.button:hover {
  background: hsl(223, 100%, 88%);
}

.call-to-action {
  margin-top: 5px;
}
.image-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.image {
  height: auto;
  width: 30%;
}
.social-media {
  display: flex;
  margin: 20px 0px;
  flex-direction: row;
  justify-content: center;
}
.icons {
  padding: 10px 10px;
  height: 20px;
  width: 20px;
  background-color: white;
  z-index: 5;
  margin-top: 10em;
  display: flex;
  justify-content: center;
  box-shadow: black;
  margin: 10px;
  border: hsl(0, 0%, 59%) solid 1px;
  color: hsl(223, 87%, 63%);
  border-radius: 50%;
}

.footer {
  color: hsl(0, 0%, 59%);
  margin-bottom: 5px;
  font-size: 13px;
}
#nameError {
  display: none;
  font-size: 0.8em;
}
#nameError.visible{
  color: hsl(354, 100%, 66%);
  font-size: 10px;
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 margin-left: -58px;
}
.input.invalid {
  border-color: red;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* media queries */
@media (max-width: 768px) {
  .call-to-action {
    margin-top: 5px;
    margin: 10px auto;
    padding: 10px auto;
  }
  .input {
    padding: 10px 30px;
    border-radius: 40px;
    border: hsl(0, 0%, 59%) solid 1px;
    width: 80%;
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
  }
  .button {
    padding: 10px 30px;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
    color: white;
    text-align: center;
    cursor: pointer;

    background-color: hsl(223, 87%, 63%);
  }
  .button:hover {
    background: hsl(223, 100%, 88%);
  }
  .image {
    height: auto;
    width: 80%;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    padding: 4px;
  }

  .text {
    color: hsl(0, 0%, 59%);
    font-size: 20px;
    font-weight: 300;
  }
  #nameError.visible{
    color: hsl(354, 100%, 66%);
    font-size: 10px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-left: -38px;
  

  }
}
